/**
 * Simple fade transition,
*/
 
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}


/*{
    box-sizing: border-box;
}*/

.wpg_column-1 {
    
    float: left;
    width:100%;
    padding: 5px;
}

.wpg_column-2 img, .wpg_column-2 iframe{
    
    width: 100% !important;
   height: 315px !important;
   position: relative;
}

.wpg_column-2 {
    float: left;
   width: 48%;
   margin: 0 1% 40px;
}

.wpg_column-3 img, .wpg_column-3 iframe, .wpg_column-3 p{
    
    width: 100% !important;
   height: 180px !important;
   position: relative;
}
.wpg_column-3 {
    float: left;
    width:31.33%;
    margin: 0 1% 40px;
}

.wpg_column-4 {
    float:left;
    width:23%;
    margin: 0 1% 40px;
}

.wpg_column-4 img, .wpg_column-4 iframe {
    
    width: 100% !important;
   height: 180px !important;
   position: relative;
}
.wpg_column-4 p
{
    font-size: 14px;
    margin: 9px 4px;
    /* padding-left: 2px; */
    line-height: 18px;
}
.wpg_column-5 {
    float: left;
    width:18%;
    margin: 0 1% 40px;
}
.wpg_column-5 img, .wpg_column-5 iframe, .wpg_column-5 p{
    
    width: 100% !important;
   height: 140px !important;
   position: relative;
}


/* Clearfix (clear floats) */
.wpg_clearfix{
    overflow: auto;
    content: "";
    clear: both;
    display: table;
}

.wpg_row::after {
    content: "";
    clear: both;
    display: table;
}
.wpg_row h4 {
   font-size: 16px;
   color: #484848;
   line-height: 21px;
}

.cm_videos h4 {
    font-size: 16px;
    color: #2f2f2f;
}


/*clearfix:before, .clearfix:after {
   content: '\0020';
   display: block;
   overflow: hidden;
   visibility: hidden;
   width: 0;
   height: 0;
}*/
